<div id="title">Chess</div>

	<div class="chessboard">
    <p id="black-pawns-taken">Black Pawns Taken: </p>
    <p id="white-pawns-taken">White Pawns Taken: </p>
    	<div class="board-row">
    		<span class="black-square"><img class="black-rook piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23687e54b-210x210.png"></span>
    		<span class="white-square"><img class="black-pawn piece" class="black-pawn" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="black-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="white-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="black-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="white-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="black-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="white-square"><img class="black-rook piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c23687e54b-210x210.png"></span>
    	</div>
    	<div class="board-row">
    		<span class="white-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="black-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="white-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="black-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="white-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="black-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="white-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    		<span class="black-square"><img class="black-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c235ca2856.png"></span>
    	</div>
    	<div class="board-row">
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    	</div>
    	<div class="board-row">
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    	</div>
    	<div class="board-row">
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    	</div>
    	<div class="board-row">
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    		<span class="white-square"></span>
    		<span class="black-square"></span>
    	</div>
    	<div class="board-row">
    		<span class="black-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="white-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="black-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="white-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="black-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="white-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="black-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="white-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    	</div>
    	<div class="board-row">
    		<span class="white-square"><img class="white-rook piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2366cc7ae.png"></span>
    		<span class="black-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="white-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="black-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="white-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="black-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="white-square"><img class="white-pawn piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2361c0792.png"></span>
    		<span class="black-square"><img class="white-rook piece" src="http://www.iconsfind.com/wp-content/uploads/2015/11/20151106_563c2366cc7ae.png"></span>
    	</div>
	</div>